<app-header></app-header>
<div class="main-content p-5">
  <div class="selection-criteria d-flex justify-content-between">
    <div class="search-country">
      <i class="fas fa-search search-icon"></i>
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Search for a country..."
      />
    </div>
    <div class="filter-region mt-3">
      <select
        class="form-select form-select mb-3"
        aria-label=".form-select-lg example"
        (change)="selectedByRegion($event)"
      >
        <option selected value="no_data">Filter by Region</option>
        <option *ngFor="let region of allRegions" [value]="region">
          {{ region }}
        </option>
      </select>
    </div>
  </div>
  <div class="countries-data d-flex flex-wrap mt-4">
    <div
      class="card"
      *ngFor="let country of allCountries | filter: searchText"
      (click)="showDetails(country)"
    >
      <img [src]="country.flags.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <strong>{{ country.name.common }}</strong>
        </h5>

        <h6><strong>Population: </strong>{{ country.population }}</h6>
        <h6><strong>Region: </strong>{{ country.region }}</h6>
        <h6><strong>Capital: </strong>{{ country.capital }}</h6>
      </div>
    </div>
  </div>
</div>
