<app-header></app-header>
<div class="container">
  <div class="row my-3">
    <button type="button" class="btn btn-light back-btn" routerLink="/">
      Back
    </button>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <img class="flag-img" [src]="countryData.flags.png" alt="" />
    </div>
    <div class="col-6">
      <h2>{{ countryData.name.common }}</h2>

      <div class="data-content d-flex justify-content-between mb-3">
        <div class="left-data-content d-flex flex-column">
          <span
            ><strong>Native name: </strong>
            {{ countryData?.name.nativeName[nativeNameFirstKey].common }}</span
          >
          <span
            ><strong>Population: </strong> {{ countryData?.population }}</span
          >
          <span><strong>Region: </strong> {{ countryData?.region }}</span>
          <span
            ><strong>Sub Region: </strong> {{ countryData?.subregion }}</span
          >
          <span><strong>Captial: </strong> {{ countryData?.capital }}</span>
        </div>
        <div class="right-data-content d-flex flex-column">
          <span
            ><strong>Top Level Domain: </strong>
            {{ countryData?.name.nativeName[nativeNameFirstKey].common }}</span
          >
          <span
            ><strong>Currencies: </strong>
            {{ countryData?.currencies[currencyFirstKey].name }}</span
          >
          <span
            ><strong>Languages: </strong>
            <span *ngFor="let lang of countryData?.languages | keyvalue">
              {{ lang.value }}</span
            ></span
          >
        </div>
      </div>
      <div class="mt-5">
        <span
          ><strong>Border Countries: </strong>
          <span *ngFor="let border of countryData?.borders" class="span-border">
            {{ border }}</span
          ></span
        >
      </div>
    </div>
  </div>
</div>
