<app-header></app-header>
<div class="container">
  <div class="row my-3 ms-0">
    <button
      type="button"
      class="btn btn-light back-btn d-flex justify-content-evenly align-items-center"
      routerLink="/"
    >
      <i class="fas fa-arrow-left fa-xs"></i>
      Back
    </button>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 col-md-12 mb-4">
      <img class="flag-img" [src]="countryData.flags.png" alt="" />
    </div>
    <div class="col-lg-6 col-md-12">
      <h2>{{ countryData.name.common || "NA" }}</h2>

      <div class="data-content d-md-flex justify-content-between mb-3">
        <div class="left-data-content d-flex flex-column">
          <span
            ><strong>Native name: </strong>

            <span *ngIf="!countryData?.name?.nativeName">NA</span>
            <span *ngIf="countryData?.name?.nativeName">{{
              countryData?.name.nativeName[nativeNameFirstKey].common || "NA"
            }}</span>
          </span>
          <span
            ><strong>Population: </strong>
            {{ countryData?.population || 0 }}</span
          >
          <span
            ><strong>Region: </strong> {{ countryData?.region || "NA" }}</span
          >
          <span
            ><strong>Sub Region: </strong>
            {{ countryData?.subregion || "NA" }}</span
          >
          <span
            ><strong>Captial: </strong> {{ countryData?.capital || "NA" }}</span
          >
        </div>
        <div class="right-data-content d-flex flex-column">
          <span
            ><strong>Top Level Domain: </strong>
            <span *ngIf="!countryData?.name?.nativeName">NA</span>
            <span *ngIf="countryData?.name?.nativeName">
              {{
                countryData?.name.nativeName[nativeNameFirstKey].common || "NA"
              }}
            </span>
          </span>
          <span
            ><strong>Currencies: </strong>
            <span *ngIf="!countryData?.currencies">NA</span>
            <span *ngIf="countryData?.currencies">{{
              countryData?.currencies[currencyFirstKey].name
            }}</span>
          </span>
          <span
            ><strong>Languages: </strong>
            <span *ngIf="!countryData?.languages">NA</span>
            <span *ngIf="countryData?.languages">
              <span *ngFor="let lang of countryData?.languages | keyvalue">
                {{ lang.value || "NA" }}
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="mt-5" *ngIf="countryData?.borders">
        <span><strong>Border Countries </strong></span>
        <div routerLink="">
          <button
            *ngFor="let border of countryData?.borders"
            class="btn btn-border"
          >
            {{ border || "NA" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
